@import "tailwindcss";

:root {
  /* Backgrounds */
  --app-bg: #0E1318;
  --menus: #101112;
  --chat-input: #303030;
  --card: #112038;
  --trans-bg: #FFFFFF;

  /* Typography */
  --text-accent: #FFFFFF60;
  --light-text-accent: #000000;
  --white-text: #FFFFFF;
  --light-dull-text: #616161;
  --text-highlight: #3B82F6;

  /* Borders */
  --light-border: #FFFFFF10;

  /* Interactive */
  --dark-select: #373737;
  --link-select: #11181F;
  --small-active-tab: #2C5FB2;

  /* Inputs */
  --solid-input: #FFFFFF;

  /* Feedback */
  --success: #0FA958;
  --error-red: #FF0000;
}

@theme inline {
  --color-app-bg: var(--app-bg);
  --color-menus: var(--menus);
  --color-chat-input: var(--chat-input);
  --color-card: var(--card);
  --color-trans-bg: var(--trans-bg);
  --color-text-accent: var(--text-accent);
  --color-light-text-accent: var(--light-text-accent);
  --color-white-text: var(--white-text);
  --color-light-dull-text: var(--light-dull-text);
  --color-text-highlight: var(--text-highlight);
  --color-light-border: var(--light-border);
  --color-dark-select: var(--dark-select);
  --color-link-select: var(--link-select);
  --color-small-active-tab: var(--small-active-tab);
  --color-solid-input: var(--solid-input);
  --color-success: var(--success);
  --color-error-red: var(--error-red);
  
  --font-primary: var(--font-primary);
  --font-display: var(--font-display);
  --font-sans: var(--font-sans);
}

body {
  background: var(--app-bg);
  color: var(--text-accent);
}
